<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anthony Pugliese Experience</title>

    <link rel="icon" href= "../static/images/logos/pug.png">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/experience.css">

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experience.html">Experience</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Anthony Pugliese</h1>
        <h3><em>Experience</em></h3>
      </div>
    </div>


    <!-- *************************************
      Buttons Section
    -->
    <div class="container text-center lk-id-btn">
      <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/anthony-pugliese-/" role="button">Connect on LinkedIn</a>
      <a class="btn btn-primary" target="_blank" href="../static/documents/resume/Pugliese_Anthony_Resume.pdf" role="button">Check out my Resume</a>
    </div>


    <!-- *************************************
      Education Section
    -->
    <div class="Education section">
      <div class="container">
        <h2>Education</h2>


        <!-- ********************************** -->
        <!-- Graduate Education -->
        <div class="education row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Lehigh University</p>
            <p>Master's of Science, Physics</p>
            <p>Bethlehem, PA</p>
            <p>January 2018 - January 2019</p>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/lehigh.png">
          </div>

        </div> <!-- End of Graduate Education Intro -->

        <div class="education row">
          <div class="education-description">
            <div class="col-md-12"> 
            </div>
          </div>
        </div>  <!-- End of Graduate Education Experience -->


        <!-- Undergraduate Education -->
        <div class="education row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Lehigh University</p>
            <p>Bachelor's of Science, Honors IDEAS (Integrated Degree in Engineering and Arts &amp; Sciences) Program</p>
            <p>Bethlehem, PA</p>
            <p>August 2014 - January 2018</p>
          </div>

          <div class="col-md-6 pics">
            <img style="height: 150px;" src="../static/images/logos/lehigh.png">
          </div>

        </div> <!-- End of Undergraduate Education Intro -->

        <div class="education row">
          <div class="education-description">
            <div class="col-md-12"> 
            </div>
          </div>
        </div>  <!-- End of Undergraduate Education Experience -->



      </div> <!-- End Education container -->
    </div> <!-- End Education section -->

    <hr>



    <!-- *************************************
      Certificates Section
    -->
    <div class="Certficates section">
      <div class="container">
        <h2>Certificates</h2>


        <!-- ********************************** -->
        <!-- IAC DOE Certification -->
        <div class="certificates row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Industrial Assessment Center DOE Program with Certification</p>
            <p>Bethlehem, PA</p>
            <p>January 2017 - September 2017</p>
          </div>

          <div class="col-md-6 pics">
            <img style="width: 200; height: 150px;" src="../static/images/logos/Industrial_Assessment_Center.png">
          </div>

        </div> <!-- End of IAC DOE Certification Intro -->

        <div class="certificates row">
          <div class="certificates-description">
            <div class="col-md-12"> 
              <ul>
                <li>Provided 6 on-site industrial assessments for energy savings at facilities in tri-state area</li>
                <li>Compiled and sent reports that evaluated potential short- and long-term saving opportunities, which were monitored by DOE for recommendation implementation rates (90% average) 6 months after initial assessments</li>
              </ul>
            </div>
          </div>
        </div>  <!-- End of IAC DOE Certification Experience -->



      </div> <!-- End Certificates container -->
    </div> <!-- End Certificates section -->

    <hr>



    <!-- *************************************
      Work Experience Section
    -->
    <div class="technology section">
      <div class="container">
        <h2> Work Experience </h2>

        <!-- ********************************** -->
        <!-- Graduate Research Assistant Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Graduate Research Assistant</p>
            <p>Lehigh University</p>
            <p>Bethlehem, PA</p>
            <p>Jan 2018 - Dec 2018</p>
          </div>

          <div class="col-md-6 pics">
            <div class="imgContainer">
              <img style="height: 150px; margin-bottom: 20px;" src="../static/images/logos/lehigh.png">
            </div>
            <div class="imgContainer">
              <img style="width: 380px; height: 140px; margin-bottom: 50px;" src="../static/images/logos/SLAC.png">
            </div>
          </div>

        </div> <!-- End of Graduate Research Assistant Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <strong><p>As a Graduate Research Assistant I</p></strong>
              <ul>
                <li>Acted as research assistant on a project studying the structure of amorphous alumina and other ALD processed films using experimemntal scattering data and Reverse Monte Carlo Molecular Dynamics simulations</li>
                <li>Gained 10 days of beamtime experience controlling the beamline apparatus at SSRL at SLAC in Menlo Park, CA</li>
              </ul>
              <p><strong>Technologies Used</strong><p>
              <ul>
                <li>Python, C#, C++, LAMMPS, RMCProfile</li>
              </ul>
            </div>
          </div>
        </div> <!-- End of Graduate Research Assistant Experience -->


  <!-- ********************************** -->
        <!-- Teaching Assistant Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">Teaching Assistant</p>
            <p>Lehigh University Physics</p>
            <p>Bethlehem, PA</p>
            <p>Aug 2017 - Dec 2018</p>
      <strong><p>As the Advanced Physics Laboratory I + II TA I</p></strong>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/logos/lehigh.png">
          </div>

        </div> <!-- End of Teaching Assistant Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <ul>
                <li>TA'd the first semester of the lab twice and the second semester once</li>
                  <ul>
                <li>Guided teams in making experiments that used a wide array of technologies and scientific principles in an open lab environment</li>
                <ul>
                    <li>Michelson and Fabry–Pérot Interferometers</li>
                    <li>Spectroscopy</li>
                    <li>Polarization</li>
                </ul>
              </ul>
              <p><strong>Technologies Used</strong><p>
              <ul>
                <li>Python, Arduino, Model Fitting, LabVIEW, GPIB</li>
              </ul>
            </div>
          </div>
        </div> <!-- End of Teaching Assistant Experience -->


        <!-- ********************************** -->
        <!-- Lehigh REU Experience -->
        <div class="experience row extra-exp">

          <div class="col-md-6">
            <p class="exp-title">NSF REU</p>
            <p>Lehigh University Material Science &amp; Engineering</p>
            <p>Bethlehem, PA</p>
            <p>June 2017 - Aug 2017</p>
	    <strong><p>As a NSF funded Undergraduate Research Assitant I</p></strong>
          </div>

          <div class="col-md-6 pics">
            <img src="../static/images/logos/NSF.png">
          </div>

        </div> <!-- End of Lehigh REU Intro -->

        <div class="experience row">
          <div class="experience-description">
            <div class="col-md-12">
              <ul>
                <li>Conducted simulations to gain understanding of interfacial electronics via usage of Sentaurus TCAD</li>
                  <ul>
                    <li><a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pssb.201800342"><i>Absence of Evidence for Fixed Charge in Metal-Aluminum Oxide-Silicon Tunnel Diodes</i></a> – Physica Status Solidi B
                  </ul>
                <li>Created interactive GUIs based on MIS semiconductor interfaces simulations to assist in visual learning of semiconductor physics for semiconductor courses at both Lehigh and other institutions</li>
              </ul>
              <p><strong>Technologies Used</strong><p>
              <ul>
                <li>Sentaurus TCAD, MATLAB, Python, C++</li>
              </ul>
            </div>
          </div>
        </div> <!-- End of Lehigh REU Experience -->
      </div> <!-- End Experience container -->

    </div> <!-- End Experience section -->

</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p> Made by Anthony Pugliese </p>
    <ul>
      <a target="_blank" href="https://github.com/ajpugliese7"><li>GitHub</li></a>
      <li> | </li>
      <a target="_blank" href="https://www.linkedin.com/in/anthony-pugliese-/"><li>LinkedIn</li></a>
      <li> | </li>
      <a target="_blank" href="../index.html"><li>Personal Website</li></a>
    </ul>
    <div class=" per-web-description">
    <p>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>


  </body>
</html>
